
@media only screen and (max-width: 1350px) {
.carousel-item{
    .d-flex{
        .card{
            .card-body{
                .container{
                    .row{
                        table{
                            .col{
                                tr{
                                    td{
                                        .textoRp {
                                            padding-left: 45px !important;
                                            width: 100px;
                                        }
                                        .textoRp2 {
                                            width: 320px;
                                            padding-left: 15px !important;
                                        }
                                        .textoRp3 {
                                            padding-left: 20px !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
}