<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta http-equiv="cache-control" content="no-cache" />
      <!--Estilos de Editores Crear-->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/editoresCrear.css">
  
    <title>Crear Examen</title>
    </head>
      

<body>
  <input type="button" value="Say hello"
        onClick="showAndroidToast('Hello Android!')" />
    <br />
    File Uri: <label id="lbluri">no file uri</label>
    <br />
    File Path: <label id="lblpath">no file path</label>
    <br />
    <input type="button" value="Choose Photo" onClick="choosePhoto()" />

    <p id="android"></p>
  <script type="text/javascript">

  var pivote=typeof(Android)
  var mensaje=document.getElementById("android");

  if(pivote=="undefined"){
   // alert("Esto es web")
    mensaje.textContent="Esto es web"
  }
  else{
    //alert("Esto es Android")
    mensaje.textContent="Esto es Android"
    function showAndroidToast(toast) {
        Android.showToast(toast);
    }
    var file
    function choosePhoto() {
      file = Android.choosePhoto();
        //Android.choosePhoto();
    }

    function setFilePath(file) {
        document.getElementById('lblpath').innerHTML = file;
        Android.showToast(file);
    }
    function setFileUri(uri) {
        document.getElementById('lbluri').innerHTML = uri;
        Android.showToast(uri);
    }
    
  }
  
    
    
  </script>
</body>
</html>