
body {
  background-color: #FFE8CD;
  margin: 1px;
  padding: 1px;
  margin-top: 5px;
}

.figure, h6 {
  width: 100px;
  height: 100px;
  background-color: #CE002B;
  color: white;
  line-height: 100px;
  text-align: center;
}

.progress-bar {
  background-color: #CE002B
}

.figure2 {
  width: 100px;
  height: 100px;
  background-color: #CE002B;
  position: absolute;
}

.bt1 {
  float: left;
  background-color: #FFBA6A;
}

.bt2 {
  float: right;
  background-color: #FFBA6A;
}
.bt3 {
  float: right;
  background-color: #FFBA6A;
  color: black;
}

.card-body {
  background-color: #F69100;
  border-radius: 20px;
}

.shadow-lg {
  box-shadow: none !important;
}

.card{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: transparent !important;
  background-clip: border-box;
  border: 0px;
  border-radius: .25rem;
  width: 800px;
  
  
}

img {
  max-width: 10%;
}

:root {
  --altolienzo: 600px;
  --ancholienzo: 700px !important;
}

.lienzo {
  position: relative;
  display: inline-block;
  width: var(--ancholienzo);
  height: var(--altolienzo);
  background-color: #ccffff;
  margin: 0 auto;
  border: 1px solid black;
}

.replica {
  position: relative;
  display: inline-block;
  width: var(--ancholienzo);
  height: var(--altolienzo);
  background-color: #99ffcc;
}

.radio {
  background-color: #C06500;
  width: 50px;
  height: 50px;
}

.container {
  padding-left: 0;
  margin-top: 5px;
}

.temporizador {
  text-align: center;
  font-size: 30px;
  margin-top: 0px;
}

.time {
  float: right;
  width: 45%;
  
}

/* .row{
  padding-left: 225px;
} */
.opcion{
  background-color:#C06500;
  width: 50px;
  height: 50px;
  color: white;
}

